h1{
    color: red;
}
caption{
    color: rgb(31, 86, 162);
    font-size: larger;
}
thead{
    background-color: rgb(168, 168, 206);
}
.subtitulo{
    background-color: rgb(104, 104, 197);
}
.detalle{
    color: blueviolet;
    background-color: rgb(218, 201, 235);
}
.total{
background: plum;
}