body{
    margin: 0px;
}
header{
background-color: yellow;
height:80px;
}
nav{
background-color: green;
width: 25%;
}
section{
background-color:burlywood;
width: 75%;
}
footer{
background-color:aquamarine;
clear:left;
height:50px;
}
nav,section{
    float: left;
    height:660px;
}

p{
    padding-left:15px;
    padding-right:15px;
    text-align: justify;
}
li{
    list-style: none;
}
h1{
    margin:0px;
}